Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Standard_trees/01/Tree_01.fbx
Standard_trees/01/Tree_01_Diffuse.tga
Standard_trees/01/Tree_01_NRM.tga
Standard_trees/01/Tree_01_ORM.tga
Standard_trees/02/Tree_02.fbx
Standard_trees/02/Tree_02_low_lambert6SG_BaseColor.png
Standard_trees/02/Tree_02_low_lambert6SG_Normal.png
Standard_trees/02/Tree_02_low_lambert6SG_OcclusionRoughnessMetallic.png
Standard_trees/03/tree_03.fbx
Standard_trees/03/Tree_03_low_Tree_03_low_lambert4SG_BaseColor.png
Standard_trees/03/Tree_03_low_Tree_03_low_lambert4SG_Normal.png
Standard_trees/03/Tree_03_low_Tree_03_low_lambert4SG_OcclusionRoughnessMetallic.png
Standard_trees/04/tree_04.fbx
Standard_trees/04/tree_04_low_Tree_01_Tree_01_Tree_01_lambert5SG_BaseColor.png
Standard_trees/04/tree_04_low_Tree_01_Tree_01_Tree_01_lambert5SG_Normal.png
Standard_trees/04/tree_04_low_Tree_01_Tree_01_Tree_01_lambert5SG_OcclusionRoughnessMetallic.png
Standard_trees/05/tree_05.fbx
Standard_trees/05/tree_05_low_lambert3SG_BaseColor.png
Standard_trees/05/tree_05_low_lambert3SG_Normal.png
Standard_trees/05/tree_05_low_lambert3SG_OcclusionRoughnessMetallic.png
Standard_trees/06/tree_06.fbx
Standard_trees/06/tree_06_low_lambert5SG_BaseColor.png
Standard_trees/06/tree_06_low_lambert5SG_Normal.png
Standard_trees/06/tree_06_low_lambert5SG_OcclusionRoughnessMetallic.png
Standard_trees/07/tree_07.fbx
Standard_trees/07/tree_07_low_lambert4SG_BaseColor.png
Standard_trees/07/tree_07_low_lambert4SG_Normal.png
Standard_trees/07/tree_07_low_lambert4SG_OcclusionRoughnessMetallic.png
Standard_trees/08/tree_08.fbx
Standard_trees/08/tree_08_low_tree_08_low_lambert2SG_BaseColor.png
Standard_trees/08/tree_08_low_tree_08_low_lambert2SG_Normal.png
Standard_trees/08/tree_08_low_tree_08_low_lambert2SG_OcclusionRoughnessMetallic.png
Standard_trees/09/tree_09.fbx
Standard_trees/09/tree_09_low_Tree_01_lambert4SG_BaseColor.png
Standard_trees/09/tree_09_low_Tree_01_lambert4SG_Normal.png
Standard_trees/09/tree_09_low_Tree_01_lambert4SG_OcclusionRoughnessMetallic.png
Standard_trees/10/tree_10.fbx
Standard_trees/10/Tree_10_low_lambert8SG_BaseColor.png
Standard_trees/10/Tree_10_low_lambert8SG_Normal.png
Standard_trees/10/Tree_10_low_lambert8SG_OcclusionRoughnessMetallic.png
Standard_trees/11/tree_11.fbx
Standard_trees/11/Tree_11_low_lambert9SG_BaseColor.png
Standard_trees/11/Tree_11_low_lambert9SG_Normal.png
Standard_trees/11/Tree_11_low_lambert9SG_OcclusionRoughnessMetallic.png
Standard_trees/Alpha/alpha.tga
Standard_trees/Alpha/Leaf_alpha.obj
Standard_trees/Alpha/leaves_diffuse.tga
Content/Stylized_PBR_Nature/Foliage/Assets/SM_Bush.uasset
Content/Stylized_PBR_Nature/Foliage/Assets/SM_Clover.uasset
Content/Stylized_PBR_Nature/Foliage/Assets/SM_Common_Tree_01.uasset
Content/Stylized_PBR_Nature/Foliage/Assets/SM_Common_Tree_02.uasset
Content/Stylized_PBR_Nature/Foliage/Assets/SM_Common_Tree_03.uasset
Content/Stylized_PBR_Nature/Foliage/Assets/SM_Common_Tree_04.uasset
Content/Stylized_PBR_Nature/Foliage/Assets/SM_Common_Tree_05.uasset
Content/Stylized_PBR_Nature/Foliage/Assets/SM_Common_Tree_06.uasset
Content/Stylized_PBR_Nature/Foliage/Assets/SM_Common_Tree_07.uasset
Content/Stylized_PBR_Nature/Foliage/Assets/SM_Common_Tree_08.uasset
Content/Stylized_PBR_Nature/Foliage/Assets/SM_Common_Tree_09.uasset
Content/Stylized_PBR_Nature/Foliage/Assets/SM_Common_Tree_10.uasset
Content/Stylized_PBR_Nature/Foliage/Assets/SM_Common_Tree_11.uasset
Content/Stylized_PBR_Nature/Foliage/Assets/SM_Fern.uasset
Content/Stylized_PBR_Nature/Foliage/Assets/SM_Grass.uasset
Content/Stylized_PBR_Nature/Foliage/Assets/SM_Pine_Tree_1.uasset
Content/Stylized_PBR_Nature/Foliage/Assets/SM_Pine_Tree_2.uasset
Content/Stylized_PBR_Nature/Foliage/Assets/SM_Pine_Tree_3.uasset
Content/Stylized_PBR_Nature/Foliage/Assets/SM_Pine_Tree_4.uasset
Content/Stylized_PBR_Nature/Foliage/Materials/M_Foliage_Master.uasset
Content/Stylized_PBR_Nature/Foliage/Materials/M_Tree_Trunk_Master.uasset
Content/Stylized_PBR_Nature/Foliage/Materials/MI_Bush.uasset
Content/Stylized_PBR_Nature/Foliage/Materials/MI_Clover.uasset
Content/Stylized_PBR_Nature/Foliage/Materials/MI_Common_Tree_01.uasset
Content/Stylized_PBR_Nature/Foliage/Materials/MI_Common_Tree_02.uasset
Content/Stylized_PBR_Nature/Foliage/Materials/MI_Common_Tree_03.uasset
Content/Stylized_PBR_Nature/Foliage/Materials/MI_Common_Tree_04.uasset
Content/Stylized_PBR_Nature/Foliage/Materials/MI_Common_Tree_05.uasset
Content/Stylized_PBR_Nature/Foliage/Materials/MI_Common_Tree_06.uasset
Content/Stylized_PBR_Nature/Foliage/Materials/MI_Common_Tree_07.uasset
Content/Stylized_PBR_Nature/Foliage/Materials/MI_Common_Tree_08.uasset
Content/Stylized_PBR_Nature/Foliage/Materials/MI_Common_Tree_09.uasset
Content/Stylized_PBR_Nature/Foliage/Materials/MI_Common_Tree_10.uasset
Content/Stylized_PBR_Nature/Foliage/Materials/MI_Common_Tree_11.uasset
Content/Stylized_PBR_Nature/Foliage/Materials/MI_Common_Tree_Leaves.uasset
Content/Stylized_PBR_Nature/Foliage/Materials/MI_Fern.uasset
Content/Stylized_PBR_Nature/Foliage/Materials/MI_Grass.uasset
Content/Stylized_PBR_Nature/Foliage/Materials/MI_Pine_Tree_Leaves.uasset
Content/Stylized_PBR_Nature/Foliage/Materials/MI_Pine_Trunk.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Clover_D.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_01_D.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_01_N.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_01_ORM.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_02_D.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_02_N.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_02_ORM.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_03_D.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_03_N.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_03_ORM.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_04_D.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_04_N.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_04_ORM.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_05_D.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_05_N.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_05_ORM.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_06_D.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_06_N.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_06_ORM.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_07_D.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_07_N.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_07_ORM.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_08_D.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_08_N.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_08_ORM.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_09_D.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_09_N.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_09_ORM.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_10_D.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_10_N.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_10_ORM.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_11_D.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_11_N.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_11_ORM.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Common_Tree_Leaves_D.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Fern_D.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Grass_D.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Pine_Tree_Leaves_D.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Pine_Tree_Trunk_D.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Pine_Tree_Trunk_N.uasset
Content/Stylized_PBR_Nature/Foliage/Textures/T_Pine_Tree_Trunk_ORM.uasset
Content/Stylized_PBR_Nature/Maps/Asset_Scene.umap
Content/Stylized_PBR_Nature/Maps/Asset_Scene_BuiltData.uasset
Content/Stylized_PBR_Nature/Maps/dirt_LayerInfo.uasset
Content/Stylized_PBR_Nature/Maps/Grass_01_LayerInfo.uasset
Content/Stylized_PBR_Nature/Maps/Grass_02_LayerInfo.uasset
Content/Stylized_PBR_Nature/Maps/Rock_LayerInfo.uasset
Content/Stylized_PBR_Nature/Maps/Stylized_Nature_ExampleScene.umap
Content/Stylized_PBR_Nature/Maps/Stylized_Nature_ExampleScene_BuiltData.uasset
Content/Stylized_PBR_Nature/Rocks/Assets/SM_R_Rock_01.uasset
Content/Stylized_PBR_Nature/Rocks/Assets/SM_R_Rock_02.uasset
Content/Stylized_PBR_Nature/Rocks/Assets/SM_R_Rock_03.uasset
Content/Stylized_PBR_Nature/Rocks/Assets/SM_R_Rock_04.uasset
Content/Stylized_PBR_Nature/Rocks/Assets/SM_R_Rock_05.uasset
Content/Stylized_PBR_Nature/Rocks/Assets/SM_S_Rock_01.uasset
Content/Stylized_PBR_Nature/Rocks/Assets/SM_S_Rock_02.uasset
Content/Stylized_PBR_Nature/Rocks/Assets/SM_S_Rock_03.uasset
Content/Stylized_PBR_Nature/Rocks/Assets/SM_S_Rock_04.uasset
Content/Stylized_PBR_Nature/Rocks/Assets/SM_S_Rock_05.uasset
Content/Stylized_PBR_Nature/Rocks/Assets/SM_S_Rock_06.uasset
Content/Stylized_PBR_Nature/Rocks/Assets/SM_S_Rock_07.uasset
Content/Stylized_PBR_Nature/Rocks/Assets/SM_S_Rock_08.uasset
Content/Stylized_PBR_Nature/Rocks/Assets/SM_S_Rock_09.uasset
Content/Stylized_PBR_Nature/Rocks/Assets/SM_S_Rock_10.uasset
Content/Stylized_PBR_Nature/Rocks/Assets/SM_S_Rock_11.uasset
Content/Stylized_PBR_Nature/Rocks/Materials/M_Rock_Master.uasset
Content/Stylized_PBR_Nature/Rocks/Materials/MI_R_Rock_1-5.uasset
Content/Stylized_PBR_Nature/Rocks/Materials/MI_S_Rock_1-6.uasset
Content/Stylized_PBR_Nature/Rocks/Materials/MI_S_Rock_7-11.uasset
Content/Stylized_PBR_Nature/Rocks/Textures/T_R_Rocks_1-5_D.uasset
Content/Stylized_PBR_Nature/Rocks/Textures/T_R_Rocks_1-5_N.uasset
Content/Stylized_PBR_Nature/Rocks/Textures/T_R_Rocks_1-5_ORM.uasset
Content/Stylized_PBR_Nature/Rocks/Textures/T_S_Rocks_1-6_D.uasset
Content/Stylized_PBR_Nature/Rocks/Textures/T_S_Rocks_1-6_N.uasset
Content/Stylized_PBR_Nature/Rocks/Textures/T_S_Rocks_1-6_ORM.uasset
Content/Stylized_PBR_Nature/Rocks/Textures/T_S_Rocks_7-11_D.uasset
Content/Stylized_PBR_Nature/Rocks/Textures/T_S_Rocks_7-11_N.uasset
Content/Stylized_PBR_Nature/Rocks/Textures/T_S_Rocks_7-11_ORM.uasset
Content/Stylized_PBR_Nature/Terrain/M_Landscape.uasset
Content/Stylized_PBR_Nature/Terrain/M_Water_Basic.uasset
Content/Stylized_PBR_Nature/Terrain/T_Dirt.uasset
Content/Stylized_PBR_Nature/Terrain/T_Grass_1.uasset
Content/Stylized_PBR_Nature/Terrain/T_Grass_2.uasset
Content/Stylized_PBR_Nature/Terrain/T_rock.uasset
